<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <!--Make sure you have enabled Access for less secure app option in your Account settings. More information on: https://support.google.com/accounts/answer/6010255?hl=en -->
        <network 
          host="smtp.gmail.com" 
          port="587" 
          enableSsl="true" 
          defaultCredentials="false" 
          userName="kantan.test.mail@gmail.com" 
          password="K@nt@nT3stM@1l" 
          />
      </smtp>
      <!--
      <smtp deliveryMethod="Network">
        <network 
          host="smtp.gmail.com" 
          port="587" 
          userName="kantan.test.user@gmail.com" 
          password="K@nt@nT3stUs3r" />
      </smtp>
      -->
    </mailSettings>
  </system.net>
</configuration>